<div th:fragment="sidebarContent">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover" aria-current="page" href="/home">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/test">
                    Test
                </a>
            </li>
            
        </ul>
    </div>
</div>