<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:fragment="layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
  </head>
  <body>
    <!--Encabezado-->
    <header>
        <nav class="navbar navbar-expand-md navbar-light border-bottom bg-green-002" th:fragment="appNavbar">
            <div class="container-fluid ">
                <a class="navbar-brand link-light link-opacity-50-hover" href="/home"> Rest Teach </a>
                <a href="/home" class="nav-link link-light link-opacity-10-hover">Home</a>
            </div>
        </nav>
    </header>
    <!--Contenido principal-->
    <main>
        <h1>
            Employees App
        </h1>
    </main>
  </body>
</html>
