<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Test</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Test</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatibus perspiciatis labore nesciunt sed cumque ab aliquam dolore amet molestias. Voluptate asperiores blanditiis nam, molestias ipsum debitis culpa. Doloribus illo quo obcaecati perspiciatis enim quae totam at, maxime vel exercitationem animi, sequi alias labore similique voluptatem iste culpa rerum dolore omnis natus cum. Esse harum consequatur saepe, deserunt iusto similique repudiandae optio! Molestiae ad magni officia, eligendi qui accusamus debitis, aut maiores fugiat perferendis corrupti natus voluptatum alias, est labore. Culpa nesciunt neque rerum saepe maxime eius, dolores iure doloribus, accusamus similique aperiam veritatis aspernatur! Quidem recusandae optio unde impedit?</p>
    </div>
</body>
</html>